{% extends "base.html" %}
{% block "head" %}
    <title>个人主页</title>
{% endblock %}

{% block "content" %}

    <h3 align="center">
        个人主页
    </h3>

    <p align="center">
        <a href="/diary/" class="btn btn-info" style="margin-top:20px;width:50%;">日记</a>
    </p>

    <p align="center">
        <a href="/time/" class="btn btn-info" style="margin-top:20px;width:50%;">时光瓶</a>
    </p>

    <p align="center">
        <a href="/own/exit" class="btn btn-info" style="margin-top:20px;width:50%;">退出登录</a>
    </p>

{% endblock %}