{% extends "base.html" %}
{% block "head" %}
    <title>own</title>
{% endblock %}

{% block "content" %}
    <header>
        <h3 align="center" class="text-primary">一个属于自己的空间</h3>
    </header>

    <ul class="list-group">
        <li class="list-group-item list-group-item-success">记录真正的生活，不为了展示，只为回忆</li>
        <li class="list-group-item list-group-item-info">在这里只能看到自己的信息</li>
        <li class="list-group-item list-group-item-warning">也可以创作作品</li>
        <li class="list-group-item list-group-item-danger">更多功能，敬请期待</li>
    </ul>

    <p align="center">
        <a href="/account/login" class="btn btn-success">进入own</a>
    </p>

{% endblock %}